<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>creates and stores mcjug backups</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>aabuddy@mcasg.org:22</siteName>
      <command>pg_dump --clean --file=aabuddy_db_BROKEN.txt --schema=public --no-owner --verbose --no-acl --column-inserts --quote-all-identifiers -p5433 -Uaabuddy</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>aabuddy@mcasg.org:22</siteName>
      <command>psql -p5433 -daabuddy -c&apos;select id, name, description, address, ST_AsText (geo_location), created_date from aabuddy_meeting&apos; &gt; aabuddy_DATADUMP.txt</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>scp aabuddy@mcasg.org:/home/aabuddy/aabuddy_db.txt .</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>scp aabuddy@mcasg.org:/home/aabuddy/aabuddy_DATADUMP.txt .</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>aabuddy_db.txt aabuddy_DATADUMP.txt</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>